body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

.app {
  padding: 20px;
}

h1 {
  text-align: center;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.box {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
